/**RESET**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** FINE-RESET**/

/*#region header*/


.header-top{
    display: flex;
    justify-content: end;
    background-color: black;
    height: 50px;
    
}

.icon{
    display: flex;
    background-color: #4a4a4a;
    margin-right: 5px;
    color:white;
    font-size: 14px;
    padding: 3px;
    border-radius:5px ;
    height: 20px;
    margin-top: 3px;
    
}

.zoom{
    background-color: #4a4a4a;
    margin-right: 5px;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    color: white;
    height: 20px;
    margin-top: 3px;
}

.cells{
    margin-right: 4px;
    font-size: 12px;
}
/*#endregion*/


/*#region main*/
main{
height: calc(100vh - 120px);
background-color: black;
overflow-y: scroll;
}
.contenitoresupremo{
    width: 90%;
    background-color: black;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;

}

.cellsvideo{
    width: calc(100%/7 - 4px);
    border:  1px solid black;
    margin: 2px;
}

.videocall{
    width: 100%;
    display: block;
}

.image{
    position: relative;
}

/**nome utente**/

.nomeutente{
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(100, 112, 125, 0.4);
    font-size: 15px;
    padding: 5px;
    color: white;}
.microphone{
    font-size: 10px;
    margin-right: 2px;
}


/*#endregion*/

/**footer**/
.piedipagina{
    width: 100%;
    height: 70px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.microfono3{
    margin-left: 15px;
    color: white;
    font-size: 19px; 
}

.mute{
    margin-left: 10px;
    color: white;
}
.centratura{
    vertical-align: bottom;
}
.freccia1{
    font-size: 8px;
    margin-left: 20px;
    color: white;
    vertical-align: bottom;
}

.freccia{
    vertical-align:top;
    font-size: 10px;
    color: white;
}

.microfono4{
    display: inline-block;
}
.secondoblocco,.partecipa,.invita,.polling,.share,
.freccia-interna,.chat,.record,.rooms,.dots,.metting
{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    font-size: 19px;
}

.video{
    font-size: 19px;
    margin-left: 25px;
    color: white;
    
}

.invita{
    color: white;
}

h6{
    color: white;
    font-size: 10px;
}

.color{
    color: white;
}

.color2{
    color: green;
}

.freccia-interna{
}

.freccia3{
    font-size: 10px;
}

.terzoblocco{
    background-color: #4a4a4a;
    font-size: 12px;
    height: 70px;
    display: flex;
    
    

}
.meeting{
    color: red;
    align-self: center;
    padding: 0 10px
}

